body {
  font-family: broadway;
}
nav {
  display: flex;
  justify-content: space-around;
}
h1 {
  text-align: center;
}
.welcome-page {
  display: block;
  align-content: center;
  text-align: center;
}
.restaurant-list {
  text-align: center;
}
.form-field {
  display: block;
  align-content: center;
  text-align: center;
}
